{% extends 'layouts/main.html' %}

{% block content %}

    {% load static %}

    <div class="about2">

        <div class="header">
            <div class="title">КОНТАКТЫ</div>
            <div class="image"></div>
            <div class="image2"></div>
        </div>
        <div class="main">
            <div class="mt59"></div>
            <div class="image"></div>
            <div class="title">КОНТАКТЫ</div>
            <div class="text"></div>
            <input type="text" name="" id="" class="name" placeholder="имя">
            <input type="text" name="" id="" class="email" placeholder="почта">
            <textarea placeholder="сообщения" rows="5" class="msg"></textarea>
            <button class="submit"><span>ОТПРАВИТ</span></button>
        </div>
    </div>

{% endblock %}