{% extends 'layouts/main.html' %}
{% load static %}
{% block content %}
    <div class="contests">
        <div class="heading">
            <div class="header">
                <div class="title">КОНКУРС</div>
                <div class="mini-txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis Lorem ipsum
                    dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna
                    aliqua.
                </div>
            </div>
        </div>
        <div class="cards">
            {#            <div class="card card-red">#}
            {#                <img src="{% static 'main/images/photo_2022-12-27_17-32-07 1.png' %}" class="card-img-top" alt="...">#}
            {#                <div class="card-body">#}
            {#                    <h5 class="title">Испытай себя</h5>#}
            {#                    <p class="card-text text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod#}
            {#                        tempor#}
            {#                        incididunt ut</p>#}
            {#                    <a href="#" class="btn more">Читать дальше</a>#}
            {#                </div>#}
            {#            </div>#}
            <div class="row row-cols-1 row-cols-md-3 g4">
                <div class="col">
                    <div class="card-red">
                        <img src="{% static 'main/images/photo_2022-12-27_17-32-07 1.png' %}" class="card-img-top"
                             alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Испытай себя</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                tempor
                                incididunt ut</p>
                            <a href="#" class="btn more">Читать дальше</a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card-red  card-yellow">
                        <img src="{% static 'main/images/photo_2022-12-27_17-32-07 1.png' %}" class="card-img-top"
                             alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Испытай себя</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                tempor
                                incididunt ut</p>
                            <a href="#" class="btn more">Читать дальше</a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card-red">
                        <img src="{% static 'main/images/photo_2022-12-27_17-32-07 1.png' %}" class="card-img-top"
                             alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Испытай себя</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                tempor
                                incididunt ut</p>
                            <a href="#" class="btn more">Читать дальше</a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card-red card-yellow">
                        <img src="{% static 'main/images/photo_2022-12-27_17-32-07 1.png' %}" class="card-img-top"
                             alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Испытай себя</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                tempor
                                incididunt ut</p>
                            <a href="#" class="btn more">Читать дальше</a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card-red">
                        <img src="{% static 'main/images/photo_2022-12-27_17-32-07 1.png' %}" class="card-img-top"
                             alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Испытай себя</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                tempor
                                incididunt ut</p>
                            <a href="#" class="btn more">Читать дальше</a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card-red card-yellow">
                        <img src="{% static 'main/images/photo_2022-12-27_17-32-07 1.png' %}" class="card-img-top"
                             alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Испытай себя</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                tempor
                                incididunt ut</p>
                            <a href="#" class="btn more">Читать дальше</a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card-red">
                        <img src="{% static 'main/images/photo_2022-12-27_17-32-07 1.png' %}" class="card-img-top"
                             alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Испытай себя</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                tempor
                                incididunt ut</p>
                            <a href="#" class="btn more">Читать дальше</a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card-red card-yellow">
                        <img src="{% static 'main/images/photo_2022-12-27_17-32-07 1.png' %}" class="card-img-top"
                             alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Испытай себя</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                tempor
                                incididunt ut</p>
                            <a href="#" class="btn more">Читать дальше</a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card-red">
                        <img src="{% static 'main/images/photo_2022-12-27_17-32-07 1.png' %}" class="card-img-top"
                             alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Испытай себя</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                tempor
                                incididunt ut</p>
                            <a href="#" class="btn more">Читать дальше</a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card-red card-yellow">
                        <img src="{% static 'main/images/photo_2022-12-27_17-32-07 1.png' %}" class="card-img-top"
                             alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Испытай себя</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                tempor
                                incididunt ut</p>
                            <a href="#" class="btn more">Читать дальше</a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card-red">
                        <img src="{% static 'main/images/photo_2022-12-27_17-32-07 1.png' %}" class="card-img-top"
                             alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Испытай себя</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                tempor
                                incididunt ut</p>
                            <a href="#" class="btn more">Читать дальше</a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card-red card-yellow">
                        <img src="{% static 'main/images/photo_2022-12-27_17-32-07 1.png' %}" class="card-img-top"
                             alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Испытай себя</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                tempor
                                incididunt ut</p>
                            <a href="#" class="btn more">Читать дальше</a>
                        </div>
                    </div>
                </div>
            </div>


            {#            <div class="card-red">#}
            {#                <img src="{% static 'main/images/photo_2022-12-27_17-32-07 1.png' %}" alt="">#}
            {#                <div class="title">Испытай себя</div>#}
            {#                <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor#}
            {#                    incididunt ut#}
            {#                </div>#}
            {#                <button class="more">Читать дальше</button>#}
            {#            </div>#}
        </div>
        <div class="pagination">
            <div class="previous">
                <a href="">
                    <div class="arrow">
                    </div>
                </a>
            </div>
            <div class="main">
                <div class="border"></div>
                <a href="">1</a>
                <a href="" class="active">2</a>
                <a href="">3</a>
                <a href="">4</a>
                <a href="">5</a>
                <a href="">6</a>
                <a href="">7</a>
                <a href="">8</a>
                <a href="" style="margin-left: 7px;">...</a>
                <div class="border2"></div>
            </div>
            <div class="next"><a href="">
                <div class="arrow"></div>
            </a></div>
        </div>

        <div class="submit">
            <form action="">
                <button type="submit"><span class="button"><a
                        href="{% url 'contests2' %}">отправить заявку</a></span>
                </button>
            </form>
        </div>
    </div>

{% endblock %}