{% extends 'layouts/main.html' %}

{% block content %}

    {% load static %}
    <div class="jobs2">
        <div class="header">
            <div class="title">РАБОТЫ ПО РЕГИОНАМ
                В 2022-2023 УЧЕБНОМ ГОДУ
            </div>
        </div>
        <div class="border"></div>
        <div class="main">
            <table class="table">
                <thead class="thead">
                <tr>
                    <th>№</th>
                    <th>РЕГИОН</th>
                    <th>ШКОЛА</th>
                    <th>ДЕТ.САД</th>
                    <th>КОЛИЧЕСТВО</th>
                </tr>
                </thead>
                <tbody class="tbody">
                <tr>
                    <td>1</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>6</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>7</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>8</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>9</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>10</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>11</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>12</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="border"></div>

        <div class="footing">
            <div class="title">УЗБЕКИСТАН</div>
            <div class="image"></div>
            <div class="colors">
                <div class="red"></div>
                <div class="blue"></div>
                <div class="yellow"></div>
                <div class="grey"></div>
            </div>

            <div class="contact">
                <a href="{% url 'about' %}">
                <img src="{% static 'main/images/93140951bee99437c8a2fe45ed2709fe 1.png' %}" alt="" class="image">
                <span>Есть вопросы? <span class="span">Спрашивайте!</span></span>
            </a>
            </div>

        </div>
    </div>
{% endblock %}