{% extends 'layouts/main.html' %}

{% block content %}

    {% load static %}

    <div class="realgister">
        <div class="header">
            <div class="title">РЕГИСТРАЦИЯ</div>
            <div class="img"></div>
        </div>
        <div class="main">
            <input type="text" name="" id="" class="name" placeholder="имя">
            <input type="text" name="" id="" class="lastname" placeholder="ФАМИЛИЯ">
            <input type="text" name="" id="" class="edu" placeholder="ОБРАЗОВАТЕЛЬНОЕ УЧРЕЖДЕНИЕ">
            <input type="text" name="" id="" class="addr" placeholder="РЕГИОН (область, республика, ...)">

        </div>
    </div>
{% endblock %}