{% extends 'layouts/main.html' %}

{% block content %}

    {% load static %}

    <div class="rules">
        <div class="header">
            <div class="title">ПРАВИЛА</div>
            <div class="img"></div>
        </div>
        <div class="main">
            <div class="title">ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ</div>
            <div class="border"></div>
            <div class="text">
                Положения Политики конфиденциальности в последний раз были обновлены
                <div class="date">03-11-2021</div>
                Общие положения
                1. Оператором по обработке персональных данных сайта <a href="">https://оценика.рф</a> является
                Образовательный портал
                «НИКА» (ИП Исупов Андрей Васильевич, ИНН 434562712162, ОГРН 316435000061224) (далее — ОП «НИКА»,
                оператор).
                2. Данная политика конфиденциальности распространяется на всех клиентов (далее — Посетители,
                пользователи), которые зашли на сайт <a href="">https://оценика.рф</a> (далее — Сайт), на их действия,
                которые они
                могут совершать на Сайте, включая (но не ограничиваясь) регистрацию на Сайте (в том числе и через вход
                посредством своего аккаунта в социальных сетях), оформление заявки на участие (и само участие) в
                конкурсах, олимпиадах, викторинах, тестах, размещение (публикация) личных материалов, отзывов, чтение
                публикуемой информации, предоставление и получение данных любого типа информации (далее — Услуги).
                3. Посетители безоговорочно согласны с Политикой конфиденциальности при использовании Услуг, в которой
                излагаются цели и способы сбора информации, а также условия её хранения и прочее. Если Посетитель не
                согласен с данной политикой конфиденциальности, то он не имеет права пользоваться Услугами Сайта.
                4. Оператор для достижения целей осуществляет: сбор, систематизацию, накопление, хранение, уточнение
                (обновление, изменение), извлечение, использование, передачу (предоставление, доступ), блокирование,
                удаление, уничтожение персональных данных. Ни волею ОП «НИКА», ни по решению каких-либо третьих лиц, за
                исключением случаев, предусмотренных законом Российской Федерации, персональные данные не могут быть
                переданы третьим лицам без особого и ясного согласия на это Посетителя.
                Обработка персональных данных осуществляется Оператором смешанным путем: как с использованием, так и без
                использования средств автоматизации.
                При сборе персональных данных Оператор обеспечивает их запись, систематизацию, накопление, хранение,
                уточнение (обновление, изменение), извлечение персональных данных граждан Российской Федерации с
                использованием баз данных, расположенных в информационных системах, находящихся на территории Российской
                Федерации.
            </div>
            <div class="footer">
                <div class="text1">Передаваемые права третьим лицам</div>
                <div class="border1"></div>
                <div class="text2">Регистрация Посетителей</div>
                <div class="border2"></div>
                <div class="text3">Цели использования персональной информации</div>
                <div class="border3"></div>
            </div>

        </div>
    </div>

{% endblock %}