{% load static %}
<footer>
    <div class="first1">
        <ul>
            <li class="map">Карта сайта</li>
            <li class="main"><a href="" class="main">Главная</a></li>
            <li class="results"><a href="">Результаты</a></li>
            <li class="about"><a href="">О нас</a></li>
            <li class="rule"><a href="">Правила</a></li>
            <li class="jobs"><a href="">Работы</a></li>
        </ul>
    </div>
    <div class="second">
        <ul>
            <li class="con">Контакты</li>
            <li class="tel"><a href="tel:+998 71 234 56 78">+998 71 234 56 78</a></li>
            <li class="gm">befirst@gmail.com</li>
            <li class="ad">г. Ташкент, Юнусабадский <br> район, ул Узбекистан</li>
        </ul>
    </div>
    <div class="third">
        <p>Мы в соцсетях:</p>
        <ul>
            <li class="fa">
                <a href="">
                    <img src="{% static 'main/images/facebook.svg' %}" height="33" alt="">
                </a>
            </li>
            <li class="ins">
                <a href="">
                    <img src="{% static 'main/images/instagram.svg' %}" height="33" alt="">
                </a>
            </li>
            <li class="tg">
                <a href="">
                    <img src="{% static 'main/images/telegram.svg' %}" height="37" alt="">
                </a>
            <li class="in">
                <a href="">
                    <img src="{% static 'main/images/linkedin.svg' %}" height="33" alt="">
                </a>
            </li>
        </ul>
    </div>
    <div class="fourth">
        <img src="{% static 'main/images/log-0 22.png' %}" width="146" height="165">
        <p class="last">BeFirst 2023 ©</p>
    </div>
</footer>